<!DOCTYPE html>
<html ng-app="rails-instagram">
  <head>
    <title>RailsInstagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-view>
    <%= yield %>
  </body>
</html>
